{
    "BasedOnStyle": "LLVM",
    "UseTab": true,
    "IndentWidth": 4,
    "TabWidth": 4,
    "BreakBeforeBraces": "Allman",
    "AllowShortIfStatementsOnASingleLine": true,
    "AllowShortLoopsOnASingleLine": true,
    "AllowShortRecordsOnASingleLine": true,
    "IndentCaseLabels": false,
    "ColumnLimit": 0,
    "SortIncludes": "Never"
}